body {
    margin:0;
}

.text {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}

#top_bar_style {
    width: 100%;
    height: 1.5rem;
    background-color: #3E7B27;
}

#first_block{
    /* padding:4rem; */
    padding: 1rem 25rem 4rem 25rem;
    background-color: #EFE3C2;
}

.nav {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

#logo {
    grid-row: 1 / span 1;
    width:100%;
}

#contact_me {
    grid-column: 11 / span 2;
    text-align: right;
}

.nav_item {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    align-content: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#profile_photo {
    border: 1.5rem solid #123524;
    border-radius: 100%;
    width:400px;
    height: auto;
    margin-bottom: 6rem;
}

#name {
    color: #3E7B27;
}

.featured_container {
    background-color: #123524;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.featured_text {
    color: #EFE3C2;
    font-weight: 900;
    padding: 4rem;
    padding-bottom:0;
}

.featured_projects {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 4rem;
    padding-top:2rem;
}

.project {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border: 0.5rem solid #3E7B27;
    border-radius: 10%;
    margin: 3rem;
}

.project_image {
    border-radius: 10%;
    height: 300px;
}

.project_title {
    text-align: center;
    color: #EFE3C2;
    width: 25rem;
    margin-bottom: 0;
    font-size: 2rem;
}

.project_blurb {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: #85A947;
    width: 25rem;
    height: auto;
}
