body {
    margin:0;
}

a {
    text-decoration: none;
}

.text {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}

#top_bar_style {
    width: 100%;
    height: 1.5rem;
    background-color: #3E7B27;
}

#first_block{
    /* padding:4rem; */
    padding: 4% 20% 4% 20%;
    background-color: #EFE3C2;
}

.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#nav_bar_onscroll {
  position: fixed;
  top: -84px;
  left: 0;
  width: 100%;
  background-color: #3E7B27;
  transition: top 0.3s ease;
  z-index: 999;
}

.nav_scroll_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  max-width: 80%; /* or any value that matches your design */
  margin: 0 auto;    /* center the nav content */
}

.nav_item_container_scroll {
    display:flex;
    position: relative;
    margin-left: 10%;
    cursor:pointer;
    background-color: transparent;
    color: #EFE3C2;
    
}

.nav_item_container_scroll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  height: 100%;
  width: 5px;
  background-color: #123524;
  transition: width 0.3s ease;
  z-index: 0; /* Make sure it's behind the text */
  
}

.nav_item_container_scroll:hover::before {
  width: 100%;
}

.nav_item_container_scroll:hover .nav_item {
    color: #EFE3C2;
}

.btn-6 {
  border: 3px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(5, 5, 5, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  border-color: black;
  color: #EFE3C2;
  background-color: #3E7B27;
  transition: color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
} 

.btn-6:hover {
  /* box-shadow: inset 0 0 20px #3E7B27, 0 0 20px #3E7B27; */
  box-shadow: inset 0 0 0 2em #123524;
  cursor: pointer;
  /* color: black; */
  border-color: black;
  /* transition: 0.5s ease; */
}

.left_nav {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.right_nav {
    display: flex;
    align-items: center;
}

#logo {
    width:80px;
}

#contact_me {
    text-align: center;
    
}

.btn-5 {
  border: 3px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(5, 5, 5, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  color: black;
  background-color: #EFE3C2;
  transition: color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
} 

.btn-5:hover {
  /* box-shadow: inset 0 0 20px #3E7B27, 0 0 20px #3E7B27; */
  box-shadow: inset 0 0 0 2em #3E7B27;
  cursor: pointer;
  color: #EFE3C2;
  border-color: black;
  /* transition: 0.5s ease; */
}

.nav_item_container {
    display:flex;
    position: relative;
    margin-left: 10%;
    cursor:pointer;
    background-color: transparent;
    
}

.nav_item_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  height: 100%;
  width: 5px;
  background-color: #3E7B27;
  transition: width 0.3s ease;
  z-index: 0; /* Make sure it's behind the text */
  
}

.nav_item_container:hover::before {
  width: 100%;
}

.nav_item_container:hover .nav_item {
    color: #EFE3C2;
}


.nav_item {
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 800;
    align-content: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
    font-style: normal;
    position:relative;
    z-index: 1;
    text-decoration: none;
    color: inherit;
    /* transition: color 0.3s ease; */
}

.btn-6 {
    color: #EFE3C2;
}

.nav_item_container:hover .text_highlight {
  width: 100%;
}

.static_nav {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.p_photo {
    opacity: 0;
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

#profile_photo {
    border: 1.5rem solid #123524;
    border-radius: 100%;
    width:400px;
    height: auto;
    margin-bottom: 6rem;
}

.intro_text {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.static_nav_show {
    opacity: 1;
    transform: translateY(0);
}



#name {
    color: #3E7B27;
}

.featured_container {
    background-color: #123524;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.featured_text {
    color: #EFE3C2;
    font-weight: 900;
    padding: 4rem;
    padding-bottom:0;
}

.featured_projects {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 4rem;
    padding-top:2rem;
}

.project {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border: 0.5rem solid #123524;
    border-radius: 10%;
    margin: 3rem;
    background-color: #EFE3C2;
    transition: opacity 1.2s ease-out, transform 0.7s ease-out;
}

.project:hover {
    cursor: pointer;
    border-color: #3E7B27;
    transform: translateY(-20px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;


}

.project_image {
    border-radius: 10%;
    height: 300px;
}

.project_text {

}

.project_title {
    text-align: center;
    color: #123524;
    width: 25rem;
    margin-bottom: 0;
    font-size: 2rem;
}

.project_blurb {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: #3E7B27;
    width: 25rem;
    height: auto;
    display: block;
}
